<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>打卡成功</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body style="background-color: rgb(176,196,222)">
    <p style='margin:auto;text-align:center'>打卡成功！</p>
    <p style="display:none">{{sno}}{{lno}}</p>

    <form method="post" action="/stu_index/">
        <input type="hidden" value="{{ sno }}" name="sno">
        <input type="hidden" value="{{ lno }}" name="lno">
        <input type="submit" class="button" value="返回直播">
    </form>

</body>

</html>