<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
    <script src="{{ static_url('axios.min.js') }}"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <style>
        html,
        body {
            height: 100%
        }

        .mainContainer {
            display: block;
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }

        .urlInput {
            display: block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .centeredVideo {
            display: block;
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
        }

        .controls {
            display: block;
            width: 100%;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body style="background-color: rgb(176,196,222)">
    <div id="live" style="width:70%;height:75%;float:left">
        <div class="mainContainer">
            <video id="videoElement" class="centeredVideo" controls autoplay></video>
            <iframe id="whiteboardElement" src="http://localhost:8888/whiteboardIndex"
                style="display: none;height: 100%; width: 100%;"></iframe>
            <iframe id="signElement" src="http://localhost:8888/stu_index/?roomid={{roomid}}&username={{username}}"
                style="display: none;height: 100%; width: 100%;"></iframe>
        </div>
    </div>
    


    <div id="chatarea"
        style="width:25%;height:75%;border:solid;float:left;margin-left:3%;position: relative;overflow-y:auto;">
        <p>欢迎来到直播间{{roomid}}</p>
        <p>用户{{username}}</p>

    </div>


    <div id="buttonBox" style="width: 93.5%;height: 15%;float: left;margin-top: 30px;">
        <button id="whiteboardButton" class="button" style="margin:0 atuo ;text-align:center;">白板</button>
        <button id="signButton" class="button" style="margin:0 atuo ;text-align:center;">签到</button>
        <button id="closewhiteboardButton" class="button" style="margin:0 atuo ;text-align:center;">视频界面</button>
        <!--<button id="closesignButton" style="margin:0 atuo ;text-align:center;">关闭签到</button>-->
        <button id="shareScreenButton" class="button" style="margin:0 atuo ;text-align:center;">屏幕共享</button>
        <button id="quitShareScreenButton" class="button" style="margin:0 atuo ;text-align:center;">结束屏幕共享</button>
        <button id="openMicoButton" class="button" style="margin:0 atuo ;text-align:center;">打开麦克风</button>
        <button id="closeMicoButton" class="button" style="margin:0 atuo ;text-align:center;">关闭麦克风</button>
        <button id="openVideoButton" class="button" style="margin:0 atuo ;text-align:center;">打开视频</button>
        <button id="closeVideoButton" class="button" style="margin:0 atuo ;text-align:center;">关闭视频</button>
        <p id="lock" class="a">权限尚未开启</p>
        <button id="testbutton" class="button" style="margin:0 atuo ;text-align:center;">申请权限</button>
        <br>
        选择用户ID：<input type="text" id="target_userid" class="input">
        <button id="watchScreenButton" class="button" style="margin:0 atuo ;text-align:center;">查看屏幕</button>
        <button id="watchVideoButton" class="button" style="margin:0 atuo ;text-align:center;">查看视频</button>
        我想@：<input type="text" id="at" class="input">
        我想说：<input type="text" id="content" class="input">
        <button id="sendbutton" class="button" style="margin:0 atuo ;text-align:center;">发送</button>
        <button id="handbutton" class="button" style="margin:0 atuo ;text-align:center;">举手</button>
    </div>

    <div style="display:none;">
        <div id="whiteboard" style="width:10%;height:30px;border:solid;float:left;margin-left: 10px;;margin-top:9px;">
            
        </div>

        <div id="closewhiteboard"
            style="width:10%;height:30px;border:solid;float:left;margin-left: 10px;;margin-top:9px;display: none;">
            
        </div>

        <div id="shareScreen" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px">
            
        </div>

        <div id="quitShareScreen"
            style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;display: none;">
            
        </div>

        <div id="sign" style="width:10%;height:30px;border:solid;float:left;margin-left: 10px;;margin-top:9px;">
            
        </div>

        <div id="closesign"
            style="width:10%;height:30px;border:solid;float:left;margin-left: 10px;;margin-top:9px;display: none;">
            
        </div>

        <div id="openMico" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px">
            
        </div>

        <div id="closeMico"
            style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;display: none;">
            
        </div>

        <div id="shareVideo" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px">
            
        </div>

        <div id="quitshareVideo"
            style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;display: none;">
            
        </div>

        <div id="inputUserid" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="watchScreen" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="watchVideo" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="test" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="test1" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="inputAt" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="inputMessage" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="send" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>

        <div id="hand" style="width:10%;height:30px;border:solid;float:left;margin-left:10px;margin-top:9px;">
            
        </div>


    </div>






</body>

<script src="{{ static_url('flv.min.js') }}"></script>
<script src="{{ static_url('stulive.js') }}"></script>
<script src="{{ static_url('qwebchannel.js') }}"></script>
<!--加载qwebchannel.js-->
<script>
    window.onload = function () {
        try {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                //将QWebChannel的实例挂载到window.PyHandler，后面在javascript中通过window.PyHandler即可调用
                window.PyHandler = channel.objects.PyHandler;
            });
        } catch (e) {
            window.console.log(e)
        }
    }

</script>
<script>

</script>

</html>