<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body style="background-color: rgb(176,196,222)">
    <p style='margin:auto;text-align:center'>线上教学与研讨平台</p>
    <p style='margin:auto;text-align:center'>
        {% if error %}
        {{ error }}
        {% end %}
    </p>

    <form action="" method="post" style='margin:auto;text-align:center'>
        <p>用户名: <input type="text" class = "input" name="username"></p>
        <p>密码: <input type="text"class = "input" name="password"></p>
        <p><input type="submit" class = "button" value="提交"> </p>
    </form>
</body>

</html>